{% extends "layout.html.jinja2" %}
{% block body %}
  <h1 class="text-center">Schemapr&uuml;fer</h1>
  <p>Grundlage f&uuml;r die Schemapr&uuml;fung ist immer die aktuellste Version des <a href="https://github.com/GovDataOfficial/ogd-metadata/blob/master/OGPD_JSON_Schema.json" target="_blank">OGPD JSON Schema</a>.</p>
  <h2>Schemaverletzungen nach Datenbereitsteller</h2>
  <p>Die Anzahl der Datens&auml;tze mit Regelverletzungen des Schemas pro Datenbereitsteller.</p>
  <div class="row">
    <div class="col-md-12">
      <input class="search" placeholder="Filtern" />
      <table class="overview table table-striped table-bordered">
        <thead>
          <tr>
            <th>Datenbereitsteller <button class="sort" data-insensitive="true" data-sort="datasource">sortieren</button></th>
            <th>Datens&auml;tze mit Regelverletzungen <button class="sort" data-insensitive="true" data-sort="brokenrecords">sortieren</button></th>
          </tr>
        </thead>
        <tbody class="list">
          {% for portal, datasets in schema.portal_statistic|dictsort(false, 'value')|reverse %}
            <tr>
              <td>
                <div class="row">
                  <div class="col-md-8 datasource">{{ portal }}</div>
                  <div class="col-md-4">
                    <div class="bar" style="width:{{ datasets / schema.portal_statistic.values()|sum * 20 }}em">
                  </div>
                </div>
                </div>
              </td>
              <td class="brokenrecords">{{ datasets }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <h2>Schemaverletzungen pro Regel</h2>
  <p>Eine &Uuml;bersicht der verschiedenen Regelverletzungen.</p>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Feld <button class="sort" data-insensitive="true" data-sort="field">sortieren</button></th>
            <th>Regelverletzungen <button class="sort" data-insensitive="true" data-sort="errors">sortieren</button></th>
          </tr>
        </thead>
        <tbody class="list">
          {% for field, count in schema.rule_statistic|dictsort(false, 'value')|reverse %}
            <tr>
              <td class="field">{{ field }}</td>
              <td class="errors">{{ count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <h2>Regelverletzungen pro Datensatz</h2>
  <p>F&uuml;r jeden Datenbereitsteller k&ouml;nnen hier die Regelverletzungen im Detail eingesehen werden.</p>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        {% for portal, datasets in schema.broken_rules.iteritems() %}
          <li class="{{ "active" if loop.index == 1 }}"><a href="#{{ amend_portal(portal) }}" data-toggle="tab">{{ portal }}</a></li>
        {% endfor %}
      </ul>
      <div class="tab-content">
        {% for portal, datasets in schema.broken_rules.iteritems() %}
          <div id="{{ amend_portal(portal) }}" class="tab-pane {{ "active" if loop.index == 1 }}">
            <input class="search" placeholder="Filtern" />
            <table class="table table-bordered brokenrulestable">
              <thead>
                <tr>
                  <th>ID <button class="sort" data-insensitive="true" data-sort="id">sortieren</button></th>
                  <th>Name <button class="sort" data-insensitive="true" data-sort="name">sortieren</button></th>
                  <th>Kontaktperson <button class="sort" data-insensitive="true" data-sort="contact">sortieren</button></th>
                  <th>GovData</th>
                  <th>Fehler</th>
                </tr>
              </thead>
              <tbody class="list">
                {% for dataset_id, dataset in datasets.iteritems() %}
                  <tr>
                    <td class="id"><a href="{{ ckan_api_url }}/rest/dataset/{{ dataset_id }}" target="_blank">{{ dataset_id }}</a></td>
                    <td class="name">{{ dataset.name }}</td>
                    <td class="contact">{{ dataset.maintainer }}</td>
                    <td><a href="{{ govdata_detail_url }}/{{ dataset_id }}" target="_blank">Detailseite</a></td>
                    <td>
                      <table class="table table-striped table-bordered nomargin">
                        <thead>
                          <th>Feld</th>
                          <th>Regelverletzung</th>
                        </thead>
                        <tbody>
                          {% for error in dataset.broken_rules %}
                            <tr>
                              <td>{{ error[0] }}</td>
                              <td>{{ error[1] }}</td>
                            </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
