Sehr geehrter Datenbereitsteller,

in denen von Ihnen bereitgestellten Daten für {{ portal }} sind uns die folgenden nicht auflösbaren Verweise aufgefallen:

Name des betroffenen Datensatzes: {{ broken_urls.name }}

Liste der betroffen URL oder URLs:
  {% for url in broken_urls.urls %}
+ {{ url }}
  {% endfor %}

Um die Datenqualität des Govdata Portals zu erhöhen, bitten wir Sie diese zeitnah zu korrigieren.


Mit freundlichen Grüßen,

Das GovData-Team