Sehr geehrter Datenbereitsteller,

in denen von Ihnen bereitgestellten Daten sind Schemaverletzungen identifiziert worden. Bitte schauen Sie sich den Report auf www.govdata.de an und korrigieren Sie die betroffenen Datensätze.

Dies ist eine automatisch generierte Email, Antworten auf diese laufen daher ins Leere.


Mit freundlichen Grüßen,

Das GovData-Team